<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #4078c0;"></span>
		<span class="sg-label">#4078c0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4c4c4c;"></span>
		<span class="sg-label">#4c4c4c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #699dcd;"></span>
		<span class="sg-label">#699dcd</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2966a2;"></span>
		<span class="sg-label">#2966a2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>