<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #4078c0;"></span>
		<span class="sg-label">#4078c0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2a83de;"></span>
		<span class="sg-label">#2a83de</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cf2a0e;"></span>
		<span class="sg-label">#cf2a0e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f04124;"></span>
		<span class="sg-label">#f04124</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4c4c4c;"></span>
		<span class="sg-label">#4c4c4c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #699dcd;"></span>
		<span class="sg-label">#699dcd</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2966a2;"></span>
		<span class="sg-label">#2966a2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f08a24;"></span>
		<span class="sg-label">#f08a24</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00558a;"></span>
		<span class="sg-label">#00558a</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00558b;"></span>
		<span class="sg-label">#00558b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #43ac6a;"></span>
		<span class="sg-label">#43ac6a</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f4f4f4;"></span>
		<span class="sg-label">#f4f4f4</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #444444;"></span>
		<span class="sg-label">#444444</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #008cba;"></span>
		<span class="sg-label">#008cba</span>
	</li>
</ul>