<!-- Begin .header -->
<header class="header" role="banner">
	{{> molecules-top-bar }}
	<div class="row">
	  <div class="column medium-12">{{> molecules-breadcrumbs }}</div>
	</div>
  <div class="row">
    <div class="column medium-6"></div>
    <div class="column medium-6">{{> molecules-search }}</div>
  </div>
</header>
<!-- End .header -->