<p><a href="#" class="button">Button</a></p>
<p><a href="#" class="button secondary">Secondary Button</a></p>
<p><a href="#" class="button disabled">Disabled Button</a></p>
<p><a href="#" class="button alert">Delete</a></p>
