<div class="row">
  <div class="large-12 columns">
    <nav class="top-bar" data-topbar="">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><img src="../../images/logo.png" /></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"> <a href="#"><span>menu</span></a> </li>
    </ul>
    <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li class="not-click"><a href="#">Dashboard</a></li>
      <li class="divider"></li>
      <li class="has-dropdown not-click">
        <a href="#">Data</a>
        <ul class="dropdown">
          <li class="title back js-generated">
            <h5><a href="javascript:void(0)">Back</a></h5>
          </li>
          <li><a href="#">Accounts</a></li>
          <li><a href="#">Ansible Logs</a></li>
          <li><a href="#">Apps</a></li>
          <li><a href="#">Certificates</a></li>
          <li><a href="#">Availability Zones</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Expressers</a></li>
          <li><a href="#">Hosts</a></li>
          <li><a href="#">Invites</a></li>
          <li><a href="#">Host Sizes</a></li>
          <li><a href="#">Provider Host Sizes</a></li>
          <li><a href="#">Providers</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown not-click">
        <a href="#">
          <img class="avatar" src="../../images/avatar.jpg" />
        </a>
        <ul class="dropdown">
          <li class="title back js-generated">
            <h5><a href="javascript:void(0)">Back</a></h5>
          </li>
          <li><a href="#">Your profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Sign out</a></li>
        </ul>
      </li>
    </ul>
    </section></nav>
  </div>
</div>
