<p><span class="label">Regular Label</span></p>
<p><span class="secondary label">Needs Estimate</span></p>
<p><span class="alert label">Action Required</span></p>
<p><span class="success label">Great Success</span></p>